/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

* {
  box-sizing: border-box;  
}

.body{
    text-align: left;
    font-size: 40px;
}

.title{
    text-align: left;
    font-size:50px;
    color: white;
}

.titleMyName{
    text-align: left;
    font-size:100px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resume{
    transform: translateY(70%);
}

.whiteText{
    color: white;
}

.whitespace{
    height: 10vh;
}



