@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1a2b;
  overflow-x: hidden;
}


